/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #000000;
}

h2 {
  margin-top: 2em;
}

.question {
  display: flex;
  margin-top: 2em;
}

.answer-choice img {
  height: 10em;
}
display: flex;
/ .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: center;
}
h2 {
  display: flex;
  justify-content: center;
}

